<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}User management{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% block page_title %}{% endblock %}
        <div class="toolbar">
            {% block header_navigation %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
